@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


// ============== GLOBAL VARIABLES  ==========
$bg_light : #f8f8f0;
$color1 : #4a4444;

// ================ MIXINS ======================
@mixin flex_all_center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@mixin btn_primary {
          height: 40px;
          background-color: $color1;
          color: #fff;
          text-transform: none;
          font-size: 0.9em; 
          font-weight: normal;
            &:hover{
                background-color: #858180;
            }
          }

// ============== BASE CLASSES =================
html{
    font-size: 14px;
}
html, body, #root{
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;

}
body{
  margin: 0;
  background-color: $bg_light;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
h1, p {
font-family: 'Nanum Gothic', sans-serif;
}

.img-responsive{
  width: 100%;
  height: auto;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.iconStyle1{
  color: #b5b3b3;
}
*, ::after, ::before {
    box-sizing: border-box;
}

// ====================== COLORS ==================
      .bgGreen{
        background-color: #139f6a !important;
      }
      .bgOrange{
        background-color: #e35a29 !important;
      }
      .bgDarkYellow{
        background-color: #eaa846 !important;
      }
      .bgRoyalBlue{
        background-color: #7441ee !important;
      }
      .green{
        color: #139f6a !important;
      }
      .orange{
        color: #e35a29 !important;
      }
      .darkYellow{
        color: #eaa846 !important;
      }
      .royalBlue{
        color: #7441ee !important;
      }
