$bg_light : #f8f8f0;
$button_pri : #4a4444;

@mixin flex_all_center{
    display: flex;
    align-items: center;
    justify-content: center;
}


h1, p {
  font-family: Lato;
}

body{
  margin: 0;
  background-color: $bg_light;
}

.img-responsive{
  width: 100%;
  height: auto;
}

