// ============== GLOBAL VARIABLES  ==========
$bg_light : #f8f8f0;
$color1 : #4a4444;

// ================ MIXINS ======================
@mixin flex_all_center{
      display: flex;
      align-items: center;
      justify-content: center;
}
@mixin btn_primary {
          height: 40px;
          background-color: $color1;
          color: #fff;
          text-transform: none;
          font-size: 0.9em; 
          font-weight: normal;
            &:hover{
                background-color: #858180;
            }
          }

      h2 {
        padding: 15px 28px;
        border-bottom: 1px solid #e8e7e6;
        margin: 0;
        font-size: 1.57rem;
        line-height: 2.71rem;
        font-weight: normal;
      }

      body{
        overflow-y: hidden;
      }

// ============== WSView PAGE ====================
#sm_wsviewpage{
  height: 100%;

    &>.row{
          width: 100%;
          height: 100%;
       @media (max-width: 1200px){
         width: 80%;
        }  

        .sidebar{
          width: 80px;
          background-color: #39372d;
          padding: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;


          .avatarBottom{
            position: fixed;  
            bottom: 20px; 
            width: 36px;
            height: 36px;         
          }

          .midContent{
            .boxes{
                margin-top: 45px;
              .box{ 
                position: relative;
                width: 48px;
                font-size: 1.28rem;
                color: #fff;
                text-align: center;
                line-height: 48px;
                height: 48px;
                border-radius: 12px;
                background-color: #26b8cb;
                margin-bottom: 20px;
                &.notification{
                  &::after{
                      content: "";
                      background-color: white;
                      position: absolute;
                      height: 12px;
                      width: 12px;
                      border-radius: 50%;
                      left: -3px;
                      top: -2px;
                      border: 2px solid #39372d;
                    }
                }
              }
            }
          }

        }

        .main{
              display: flex;
              flex: 1;

          .left{
              border-right: 1px solid #e8e7e6;    
              flex-basis: 420px !important;
              flex-grow: 0;
              background-color: #fdfdfb;
                .mention_list{
                  &>li{
                    padding: 20px 28px;
                      transition: all .2s ease-in;
                      &:hover{
                          background-color: rgba(239, 238, 229, 0.4);
                      }  
                      &.active{
                        background-color: rgba(136, 173, 244, 0.1);
                      }
                  }
                  .avatarImg{
                    width: 24px;
                    height: 24px;
                    border: solid 1px rgba(54, 48, 48, 0.2);
                    border-radius: 50%;
                    margin: 0;
                  }
                  .content{
                      h4{        
                      margin: 0;                
                      margin-top: 4px;
                      display: inline-block;
                      font-size: 1rem;
                      color: #363030;
                      line-height: 1.07rem;
                      font-weight: 500;
                      margin-right: 5px;
                    }
                      span{
                      color: #858180;
                      font-size: 0.85rem;
                      line-height: 1.07;
                    }
                      p{
                       font-size: 1.07rem;
                      color: #4a4444;
                      line-height: 1.42rem;
                      margin: 5px 0;
                      }
                      button{
                      font-size: 1.07rem;
                      color: #305cb8;
                      line-height: 1.42rem;
                      }
                    .end{  
                      margin: 0;    
                      text-align: right;
                      color: #26b8cb;
                      font-size: 0.85rem;
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                      .divider{
                        background-color: #f2f1f0;
                        width: 1px;
                        height: 12px;
                        margin: 0 5px;
                      }
                    }
                  }
                  li{
                    border-color: #e8e7e6;
                  }
                }

              }

            .right{
              padding: 30px 40px;
              background-color: #f8f8f0;
              .WorkspaceButton{
                text-transform: none;
                font-size: 1.57rem;
                font-weight: normal;
                color: #363030;                
              }
              .rightSpace{
                button{
                  color: #4a4444;
                }
                .divider{
                  background-color: #b5b3b3;
                  height: 16px;
                  width: 1px;
                  display: inline-block;
                  vertical-align: middle;
                }

                margin-left: auto;
              }
            }
        }

      .inner_wrap{
               @media (max-width: 1200px){
                margin-right: 50px;
               }
      }

    }



    

}
