// ============== GLOBAL VARIABLES  ==========
$bg_light : #f8f8f0;
$color1 : #4a4444;

// ================ MIXINS ======================
@mixin flex_all_center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@mixin btn_primary {
          height: 40px;
          background-color: $color1;
          color: #fff;
          text-transform: none;
          font-size: 0.9em; 
          font-weight: normal;
            &:hover{
                background-color: #858180;
            }
          }


// ============== WSView PAGE ====================
#sm_wsviewpage{
  height: 100%;
  @include flex_all_center();

    &>.row{
          align-items: center;
          width: 100%;
          height: 100%;
          justify-content: center;
       @media (max-width: 1200px){
         width: 80%;
        }  

        .sidebar{
          width: 80px;
          height: 100%;
          background-color: #39372d;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 1;
          padding: 20px 0;
          display: flex;
          justify-content: center;

          .avatarBottom{
            position: fixed;  
            bottom: 20px; 
            width: 36px;
            height: 36px;         
          }

        }

        .main{
              display: flex;
              margin-left: 80px;
              width: 100%;
              height: 100%;

          .left{
              border-right: 1px solid #e8e7e6;    
              flex-basis: 420px !important;
              flex-grow: 0;
              background-color: #fdfdfb;
                .header{
                      padding: 0 28px;
                      height: 68px;
                      display: flex;
                      align-items: center;
                      border-bottom: 1px solid #e8e7e6;    

                }

              }

            .right{
              background-color: #f8f8f0;
            }
        }

      .inner_wrap{
               @media (max-width: 1200px){
                margin-right: 50px;
               }
      }

    }



    

}
